body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
section {
  padding-bottom: 125px;
}
p {
  color: #696969;
}
.hero-section {
  display: flex;
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.half-itm img {
  width: 100%;
}
.half-itm {
  width: 40%;
  padding-left: 2%;
  margin-left: 5%;
}
.half-itm h1 {
  font-size: 50px;
}
.half-itm h1 span {
  color: #ffa500;
}
.half-itm a.h-btn {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 10px 40px;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 5px;
}
.hero-next {
  display: flex;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.third-sec {
  background-image: url("images/exp-bg.png");
  background-position: left;
  background-repeat: no-repeat;
}
.third-sec h1 {
  font-size: 40px;
}
.third-sec .bx-dv {
  display: flex;
}
.bx-dv .half-itm h1 {
  font-size: 40px;
}
.third-sec .bx-dv#sdw-dv .half-itm#hlf-1 {
  box-shadow: 5px 7px 40px gray;
  padding-bottom: 90px;
  border-left: 7px solid;
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
}
.third-sec .bx-dv#sdw-dv .half-itm#hlf-2 {
  box-shadow: 5px 7px 40px gray;
  padding-bottom: 80px;
  border-left: 7px solid;
  border-image: linear-gradient(blue, lightskyblue);
  border-image-slice: 1;
}
.third-sec .bx-dv .half-itm h3 {
  color: #ffa500;
}

footer h3 {
  text-align: center;
  color: #696969;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
